## ----- Required -----

SQUIRREL_DB=db
SQUIRREL_AUTH=secret-token

# http(s)://<server-id>@<host>:port
# Optionally, set password as percent-encoded redirect URL for public-facing redirects:
#   http://server1:https%3A%2F%2Fpublic.example.com@localhost:18881
# At least one seed is required. Squirrel reads topology from it.
SQUIRREL_SEEDS="http://server1@localhost:18881 http://server2@localhost:18882"
SQUIRREL_SEED_a="http://server3@localhost:18883 http://server4@localhost:18884"
SQUIRREL_SEED_f="http://server5@localhost:18885"

## ----- Optional -----

# Query without _id, broadcast to all servers (default: false)
SQUIRREL_ALLOW_FULL_SCAN=true
# Queue writes on backup server when primary is down (default: true)
SQUIRREL_ALLOW_CATCHUP_SERVER=true
# Auto-sync catchup entries to up servers on startup (default: true)
SQUIRREL_AUTO_SYNC_ON_STARTUP=true

## ----- Replication -----

# Enable replication (default: false)
SQUIRREL_REPLICATION_ENABLED=false
# Number of nodes to replicate data to (default: 3)
SQUIRREL_REPLICATION_FACTOR=3

## ----- Logging -----

# Log level (default: info)
LOG_LEVEL=info # debug, info, warn, error

# disable if not set
LOG_FILE=
# Log level for file
LOG_LEVEL_FILE=debug
# Add ISO timestamp to log lines
LOG_TIMESTAMP=true
# Disable log endpoints if not set
LOG_AUTH=
